<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование студента</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:insert="blocks/Header"></div>

<div align="center" th:each="el : ${student}">
    <h1>Редактирование студента</h1>
    <form method="post">
        <input style="width: 250px; height: 40px; margin: 2px; display: list-item" type="text" th:value="${el.familia}" name="familia" placeholder="Введите фамилию">
        <input style="width: 250px; height: 40px; margin: 2px; display: list-item" type="text" th:value="${el.name}" name="name" placeholder="Введите имя">
        <input style="width: 250px; height: 40px; margin: 2px; display: list-item" type="text" th:value="${el.otch}" name="otch" placeholder="Введите отчество">
        <input style="width: 250px; height: 40px; margin: 2px; display: list-item" type="text" th:value="${el.grupa}" name="grupa" placeholder="Введите группу">
        <input style="width: 250px; height: 40px; margin: 2px; display: list-item" type="date" th:value="${el.birthday}" name="birthday" placeholder="Введите дату рождения">
        <button type="submit">Сохранить</button>
    </form>
</div>

</body>
</html>